= simple_form_for @student, :html => { :multipart => true} do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name 
    = f.input :date_of_birth, :as => :datepicker, :readonly => true     
    = f.input :email
    = f.input :mobile
    = f.input :alternate_mobile
    = f.input :address_line1
    = f.input :address_line2
    = f.association :country, :collection => Country.all.entries, :prompt => "Select country" 
    = f.association :state, :collection => State.all.entries, :prompt => "Select state" 
    = f.association :city, :collection => City.all.entries, :prompt => "Select city" 
    = f.input :zip_code
    = f.input :enrollment_date, :as => :datepicker, :readonly => true
    = f.input :address_proof, :as => :boolean
    = f.input :blindness_certificate, :as => :boolean    
    = f.file_field :photo

  .form-actions
    = f.button :submit



  