%h1 Students list
= form_tag destroy_multiple_students_path,  method: :delete do
  %table
    %tr
      %th Select students
      %th Full name
      %th

    - @students.each do |student|
      %tr
        %td= check_box_tag "students[]", student.id
        %td= student.first_name + " " + student.last_name
        %td= link_to 'Edit', edit_student_path(student)
  = submit_tag "Delete selected"

%br

= link_to 'New Student', new_student_path
