

%h1 Students list
= form_tag banmultiple_students_path, method: :post do
  = render "students_list" 
  = select_tag "students", "<option>Ban  </option><option>Delete</option>".html_safe
  = submit_tag "Take action"

%br

= link_to 'New Student', new_student_path
%br
= link_to 'create ban student', banmultiple_students_path