
%h1 Student details
%br
= image_tag @student.photo.url, :alt => @student.first_name, html: {:width => 100, :height => 100}
%br
- if @student.address == nil?
  = image_tag @student.address.url, :alt => @student.address, html: {:width => 100, :height => 100}
- else
  %b You haven't uploaded your address related documents
%br
- if @student.blindness == nil?
  = image_tag @student.blindness.url, :alt => @student.blindness, html: {:width => 100, :height => 100}
- else
  %b You haven't uploaded your blindness

%br
%h2 Personal information
%table
  %tr
    %th Full name
    %th Middle name
    %th Mobile number
    %th Date Of Birth
    - if @student.alternate_mobile != nil && @student.alternate_mobile != ""
      %th Alternate mobile
    %th Email
  %tr
    %td= @student.first_name  +  " "  +  @student.last_name
    %td= @student.middle_name
    %td= @student.mobile
    %td= @student.date_of_birth
    - if @student.alternate_mobile != nil && @student.alternate_mobile != ""
      %td= @student.alternate_mobile
    %td= @student.email

%h2 Address information
%table
  %tr
    %th Address line1
    %th Address line2
    %th Location
    %th Country
    %th Pin code
    %th Address Proof
  %tr
    %td= @student.address_line1
    %td= @student.address_line2
    %td= @student.city.name + " " + @student.state.name
    %td= @student.country.name
    %td= @student.zip_code
    %td= @student.address_proof

%h2 Other information
%table
  %tr
    %th Enrollment date
    %th Blindness Certificate
  %tr
    %td= @student.enrollment_date
    %td= @student.blindness_certificate
%br
= link_to '<button type="button">Back</button>'.html_safe, students_path