= simple_form_for(@state) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :country_id, :as => :hidden, :input_html => {:value => 1} 

  .form-actions
    = f.button :submit
