%h1 Wellcome to insight!
%br
= link_to 'New Grade', new_grade_path

%br
= link_to 'New Batch', new_batch_path
%br
= link_to 'Add Student', new_student_path
%br
= link_to 'New City', new_city_path
%br
= link_to 'New State', new_state_path
