
%h1 Showing all  sponsors
= form_tag destroy_multiple_sponsors_path, method: :delete do
  %table
    %tr
      %th Select sponsor
      %th first_name
      %th middle_name
      %th last_name
      %th address
      %th pan_no
      %th phone
      %th email
      %th
      %th
      %th
    - @sponsors.each do |sponsor|
      %tr
        %td= check_box_tag "sponsors[]", sponsor.id
        %td= sponsor.first_name
        %td= sponsor.middle_name
        %td= sponsor.last_name
        %td= sponsor.address
        %td= sponsor.pan_no
        %td= sponsor.phone
        %td= sponsor.email 
        %td= link_to 'Show Details', sponsor_path(sponsor)
        %td= link_to 'Edit', edit_sponsor_path(sponsor)
  = submit_tag "Delete selected sponsors"
%br

= link_to 'New Sponsor', new_sponsor_path
