
%h1 Showing batches
= form_tag multipledelete_grade_batches_path, method: :delete do

  %table.table
    %tr
      %th Select Batches
      %th Batch Title
      %th
      %th
    - @batches.each do |batch|
      %tr
        %td= check_box_tag "batches[]", batch.id
        %td= batch.title
        %td= link_to 'Show details', grade_batch_path(@grade, batch)
        %td= link_to 'Assign Batch To Student', assignbatch_path(@grade, batch)
        %td= link_to 'Create new session ', attendents_path(@grade, batch)

  = submit_tag "Delete multiple batches"
  = link_to '<button type="button">New Batch</button>'.html_safe, new_grade_batch_path
