= simple_form_for(@city) do |f|
  = f.error_notification

  .form-inputs
    = f.collection_select :city_id, City.all, :id, :name, :prompt => "Select city" 
    = f.association :state, :collection => State.all.entries, :prompt => "Select state"

  .form-actions
    = f.button :submit
