= simple_form_for(@admission) do |f|
  = f.error_notification

  .form-inputs
    = f.association :grade, :collection => Grade.all.entries, :prompt => "Select grade" 
    = f.input :fees
    = f.input :qualifies_with, collection:['Passed from previous grade ', 'Appearing  by clearing entrence exam '], as: :radio_buttons
    
  .form-actions
    = f.button :submit
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 