%h1 Showing all Admissions
= form_tag destroy_multiple_admissions_path, method: :delete do
  %table
    %tr
      %th grade
      %th qualifies_with
      %th fees
      %th
      %th
      %th
    - @admissions.each do |admission|
      %tr
        %td= admission.grade
        %td= admission.qualifies_with
        %td= admission.fees


        %td= link_to 'Show Details', admission_path(admission)
        %td= link_to 'Edit', edit_admission_path(admission)
  = submit_tag "Delete selected admissions"
  = link_to '<button type="button">New admission</button>'.html_safe, new_admission_path
