= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
      - if params[:controller] == "students"
        %li Student
        = link_to 'New Student', new_student_path
        %li
        = link_to 'Assign Grade', addgrade_path
        %li
        = link_to "Assign batch", assign_batch_path
      - elsif params[:controller] == "students" && params[:action] == "new"
        %li New
      - elsif params[:controller] == "grades"
        %li Grade
        = link_to 'New Grade', new_grade_path
        %li
        = link_to 'index', grades_path
        %li
      - elsif params[:controller] == "grades" && params[:action] == "new"
        %li new       
        
