%h1 Trainers list

= form_tag destroy_multiple_trainers_path, method: :put do
  %table.table
    %tr
      %th Select trainer
      %th Full name
      %th
      %th

    - @trainers.each do |trainer|
      %tr
        %td= check_box_tag "trainers[]", trainer.id
        %td= trainer.first_name + " " + trainer.last_name
        %td= link_to 'Show', trainer
        %td= link_to 'Edit', edit_trainer_path(trainer)
  = submit_tag "Delete selected"

%br

= link_to 'New Trainer', new_trainer_path
