%p#notice= notice
%h1 Student details
%br
= image_tag @trainer.photo.url, :alt => @trainer.first_name, html: {:width => 100, :height => 100}

%br
%h2 Personal information
%table.table
  %tr
    %th Full name
    %th Mobile number
    %th Email    
  %tr
    %td= @trainer.first_name  +  " "  +  @trainer.last_name
    %td= @trainer.mobile_number
    %td= @trainer.email

%h2 Address information
%table.table
  %tr
    %th Address line1
    %th Address line2
    %th Location
    %th Country
    %th Pin code
  %tr
    %td= @trainer.address_line1
    %td= @trainer.address_line2
    %td= @trainer.city.name + " " + @trainer.state.name
    %td= @trainer.country.name
    %td= @trainer.zip_code

%br
= link_to 'Back', trainers_path
