= simple_nested_form_for   ([@batch, @report, ]) do |f|

  .form-inputs
    %table.table
      %tr
        %th 
        %th Assign Homework
        %th Session Date
      %tr
        %td= f.hidden_field :batch_id
        %td= f.input :assign_homework, :as => :boolean
        %td= f.input :session_date, :as => :datepicker, :readonly => true
= f.simple_fields_for @reports_students do |m|
  %h2 Student Attendents
  %table.table
    %tr
      %th Student Name
      %th Student Attendents
    %tr
      %td= m.input :attendent, :as => :boolean, :label => "Attendents"
      %td= m.input :dune_homework, :as => :boolean, :label => "Homework Done "
  .form-actions
    = f.button :submit
